.container {
  width: 100%;
  max-width: 1920px;
  height: auto;
  background-color: #ffffff;
  padding: 80px 200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 38px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 42px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.subtitle {
  font-size: 28px;
  color: #000000;
  margin: 0;
  opacity: 0.7;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 368px);
  gap: 16px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
  width: 368px;
}

.imageContainer {
  position: relative;
  width: 368px;
  height: 368px;
  overflow: hidden;
  border-radius: 8px
}

.achievementBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #002980B2;
  backdrop-filter: blur(4px);
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  text-align: center;
}

.card:hover .achievementBox {
  opacity: 1;
}

.achievementTitle {
  font-size:36px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 8px;
  text-align: center;
}

.achievementDescription {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 24px;
  font-weight: 400;
  text-align: center;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  padding: 6px 10px;
  background-color: #E5EDFF;
  color: #0049E5;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}

.companyImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.placeholderBox {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  border-radius: 8px 8px 0 0;
  font-size : 24px
}

.companyInfo {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  
  text-align: center;
}

.category {
  font-size: 16px;
  color: #656565;
  margin-bottom: 8px;
  font-weight: 400;
}

.companyName {
  font-size: 28px;
  font-weight: 600;
  color: #010101;
  margin: 0;
}


@media (max-width: 1024px) {
  .cardsGrid {
    grid-template-columns: repeat(2, 496px);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem 1rem;
  }

  .cardsGrid {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .card {
    width: 100%;
    max-width: 496px;
    margin: 0 auto;
  }

  .imageContainer {
    width: 100%;
    max-width: 496px;
    margin: 0 auto;
  }

  .title {
    font-size: 1.5rem;
  }
}
