.floatingButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 9999;
  padding: 0;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floatingButton:hover {
  transform: scale(1.1);
}

.buttonImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50px;
}


