/* Loader Styles - Global classes for GSAP */
.loader {
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
}

.loader-clip {
  position: absolute;
  width: 100vw;
  height: 33.3vh;
  overflow: clip;
  z-index: 10000;
}

.clip-top {
  top: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  background: #000;
}

.clip-bottom {
  bottom: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  background: #000;
}

.clip-center {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 33.4vh;
  top: 33.4vh;
}

.clip-center span {
  color: #000;
}

.clip-center .marquee-container img {
  width: auto;
  height: 16rem;
  max-width: none;
}

.marquee {
  position: absolute;
  top: 200%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400vw;
  color: #fff;
}

.marquee-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: -0.04em;
  line-height: 100%;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 900;
}

.marquee-container span {
  letter-spacing: -0.04em;
  line-height: 100%;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 8rem;
  white-space: nowrap;
  padding: 0 3rem;
}

@media (max-width: 768px) {
  .marquee-container span {
    font-size: 1.2rem;
    padding: 0 1.5rem;
  }
}

.marquee-container img {
  mix-blend-mode: normal !important;
  isolation: isolate;
  position: relative;
  z-index: 1;
}
