/* Loader Styles */
.loader {
  overflow-x: hidden;
  position: fixed;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.loaderClip {
  position: absolute;
  width: 100vw;
  height: 33.3vh;
  overflow: clip;
  z-index: 10000;
}

.clipTop {
  top: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  background: #000;
}

.clipBottom {
  bottom: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  background: #000;
}

.clipCenter {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 33.4vh;
  top: 33.4vh;
}

.clipCenter span {
  color: #000;
}

.clipCenter :global(.marquee-container) img {
  width: auto;
  height: 16rem;
  max-width: none;
}

.marquee {
  position: absolute;
  top: 200%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 200vw;
  color: #fff;
}

.marqueeContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: -0.04em;
  line-height: 100%;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 900;
}

.marqueeContainer span {
  letter-spacing: -0.04em;
  line-height: 100%;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 900;
}

.marqueeContainer img {
  mix-blend-mode: normal !important;
  isolation: isolate;
  position: relative;
  z-index: 1;
}
