.section {
  display: flex;
  padding: var(--unit-14, 120px) 10px 0 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  align-self: stretch;
  width: 100%;
  box-sizing: border-box;
}

.banner {
  display: flex;
  width: 1260px;
  height: 336px;
  padding: 40px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 10px;
  background: linear-gradient(
      90deg,
      var(--Blue-300, #4c85ff) 0%,
      rgba(76, 133, 255, 0.1) 100%
    ),
    url("/images/main/banner.jpg") lightgray 50% / cover no-repeat;
  box-sizing: border-box;
}

.subtitle {
  color: var(--white, #fff);

  /* Title 2 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}

.title {
  color: var(--white, #fff);
  font-family: Pretendard;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 50.4px */
}

/* Laptop 1024px */
@media (min-width: 1024px) and (max-width: 1279px) {
  .section {
    display: flex;
    padding: var(--unit-14, 120px) 80px 0 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;
  }

  .banner {
    display: flex !important;
    height: 336px !important;
    padding: 40px 50px !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 21px !important;
    align-self: stretch !important;
    width: 100% !important;
  }
}

/* 일반 데스크탑 */
@media (min-width: 1280px) {
  .section {
    padding: var(--unit-14, 120px) 10px 0 10px;
  }

  .banner {
    width: 1260px;
    height: 336px;
    padding: 40px 50px;
  }
}

/* 모바일 375px ~ 1023px */
@media (min-width: 375px) and (max-width: 1023px) {
  .section {
    display: flex !important;
    padding: var(--unit-13, 96px) 16px 0 16px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 50px !important;
    align-self: stretch !important;
  }

  .banner {
    width: 100% !important;
    height: auto !important;
    min-height: 400px !important;
    padding: 40px 20px !important;
    border-radius: 10px !important;
    background: linear-gradient(
        90deg,
        var(--Blue-300, #4c85ff) 0%,
        rgba(76, 133, 255, 0.1) 100%
      ),
      url("/images/main/banner.jpeg") lightgray 50% / cover no-repeat !important;
  }

  .subtitle {
    color: var(--white, #fff) !important;
    /* Title 3 */
    font-family: Pretendard !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 120% !important; /* 21.6px */
  }

  .title {
    color: var(--white, #fff) !important;
    /* Headline 3 */
    font-family: Pretendard !important;
    font-size: 28px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 120% !important; /* 33.6px */
  }
}

/* FHD 이상 */
@media (min-width: 1920px) {
  .section {
    padding: var(--unit-14, 120px)
      clamp(10px, calc(10px + (100vw - 1280px) * 0.5), 330px) 0
      clamp(10px, calc(10px + (100vw - 1280px) * 0.5), 330px);
  }

  .banner {
    width: 1260px;
    height: 336px;
    padding: 40px 50px;
  }
}
