.container {
  width: 100%;
  max-width: 1920px;
  height: auto;
  background-color: #ffffff;
  padding: 160px  200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 38px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.titleSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #010101;
  margin: 0;
}

.subtitle {
  font-size: 18px;
  color: #0051FF;
  margin-bottom: 8px;
  font-weight: 400;
}

.moreLink {
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
}

.moreLink:hover {
  text-decoration: underline;
}

.swiperContainer {
  flex: 1;
  width: 100%;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}

.swiper :global(.swiper-button-next),
.swiper :global(.swiper-button-prev) {
  color: #000000;
  
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
}

.swiper :global(.swiper-button-next:after),
.swiper :global(.swiper-button-prev:after) {
  font-size: 16px;
  font-weight: 700;
}

.swiper :global(.swiper-pagination-bullet) {
  background-color: #000000;
  opacity: 0.3;
}

.swiper :global(.swiper-pagination-bullet-active) {
  opacity: 1;
}

.slide {
  width: 496px;
  height: 300px;
}

.card {
  width: 100%;
  height: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.companyName {
  font-size: 28px;
  font-weight: 600;
  color: #010101;
  
}

.description {
  font-size: 18px;
  color: #656565;
  margin: 0;
  font-weight: 400;
  margin-bottom: 8px;
}

.tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag {
  padding: 0.375rem 0.75rem;
  background-color: #F2F2F2;
  color: #919191;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
}

.investmentButton {
  margin-top: auto;
  width: 100%;
  height: 58px;
  padding: 0.875rem;
  background-color: #0051FF;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s;
}



@media (max-width: 768px) {
  .container {
    padding: 1.5rem 1rem;
  }

  .header {
    flex-direction: column;
    gap: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .slide {
    width: 400px;
    height: 300px;
  }
}
