.main {
  min-height: 100vh;
  padding-top: 0;
  background-color: #ffffff;
  position: relative;
}

.banner {
  width: 100%;
  max-width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0;
}

.banner_image_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("/images/ented/ented_banner.jpg") lightgray 50% / cover no-repeat;
}

.banner_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
}

.banner_content {
  position: relative;
  z-index: 3;
  display: flex;
  width: 100%;
  max-width: 1260px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-3, 8px);
  height: 100%;
  justify-content: center;
  margin: 0 auto;

  box-sizing: border-box;
}

.banner_title {
  color: var(--white, #fff);
  /* Display 1 */
  font-family: Pretendard;
  font-size: var(--font-display-1-size);
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 100.8px */
  margin: 0;
}

.banner_subtitle {
  color: var(--Grayscale-50, #fafafa);
  font-family: var(--font-family-base);
  font-size: var(--font-title-2-size);
  font-style: normal;
  font-weight: var(--font-title-2-weight);
  line-height: var(--font-title-2-height);
  margin: 0;
}

/* 태블릿 (가로) */
@media (min-width: 1024px) and (max-width: 1279px) {
  .banner {
    display: flex;
    height: 700px;
    padding: 306px 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }

  .banner_image_wrapper {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.7) 100%
      ),
      url("/images/ented/ented_banner.jpg") lightgray 50% / cover no-repeat;
  }

  .programs_section {
    display: flex !important;
    padding: var(--unit-14, 120px) 80px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: var(--unit-8, 32px) !important;
    align-self: stretch !important;
  }

  .programs_cards {
    display: inline-grid !important;
    row-gap: var(--unit-4, 12px) !important;
    column-gap: var(--unit-4, 12px) !important;
    align-self: stretch !important;
    grid-template-rows: repeat(2, fit-content(100%)) !important;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .program_card {
    display: flex !important;
    width: 100% !important;
    padding: var(--unit-7, 24px) !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
    justify-self: stretch !important;
  }

  .curriculum_section {
    display: flex !important;
    padding: var(--unit-14, 120px) 80px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: var(--unit-8, 32px) !important;
    align-self: stretch !important;
  }

  .curriculum_cards {
    display: inline-grid !important;
    row-gap: 12px !important;
    column-gap: 12px !important;
    align-self: stretch !important;
    grid-template-rows: repeat(2, fit-content(100%)) !important;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .curriculum_card {
    display: flex !important;
    width: 100% !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    aspect-ratio: 213/263 !important;
    justify-self: stretch !important;
    border-radius: 10px !important;
    border: 1px solid var(--Grayscale-200, #e4e4e4) !important;
    background: var(--white, #fff) !important;
    gap: 12px !important;
  }

  .curriculum_card_image {
    width: 100% !important;
    height: 284px !important;
  }

  .features_section {
    display: flex !important;
    padding: var(--unit-14, 120px) 80px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: var(--unit-8, 32px) !important;
    align-self: stretch !important;
  }

  .features_cards_wrapper {
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    gap: var(--unit-4, 12px) !important;
    align-self: stretch !important;
    flex-wrap: nowrap !important;
  }

  .feature_card {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
    align-items: center !important;
    gap: var(--unit-4, 12px) !important;
    flex: 1 1 207px !important;
    min-width: 207px !important;
    max-width: 100% !important;
  }

  .feature_card_image {
    display: flex !important;
    width: 100% !important;
    height: 207px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: var(--unit-7, 24px) !important;
    align-self: stretch !important;
    aspect-ratio: 1/1 !important;
    flex-shrink: 0 !important;
  }

  .feature_card_title,
  .feature_card_subtitle {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: var(--unit-3, 8px) !important;
    align-self: stretch !important;
  }

  .support_section {
    display: flex !important;
    padding: var(--unit-14, 120px) 80px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: var(--unit-8, 32px) !important;
    align-self: stretch !important;
    background: var(--Grayscale-100, #f2f2f2) !important;
  }

  .support_card_description br {
    display: block !important;
  }

  .cta_section {
    display: flex !important;
    padding: var(--unit-14, 120px) 10px !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: var(--unit-10, 48px) !important;
    align-self: stretch !important;
  }
}

/* 일반 데스크탑 */
@media (min-width: 1280px) {
  .features_section {
    display: flex !important;
    padding: var(--unit-14, 120px) !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: var(--unit-8, 32px) !important;
    align-self: stretch !important;
  }

  .features_wrapper {
    width: 100% !important;
    max-width: 1280px !important;
    margin: 0 auto !important;
    padding: 0 10px !important;
  }

  .features_text_wrapper {
    align-items: flex-start !important;
    width: 100% !important;
  }

  .support_section {
    display: flex !important;
    padding: var(--unit-14, 120px) 0 !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: var(--unit-8, 32px) !important;
    align-self: stretch !important;
  }

  .support_cards_wrapper {
    display: flex !important;
    width: 1260px !important;
    align-items: center !important;
    align-content: center !important;
    gap: var(--unit-4, 12px) !important;
    flex-wrap: wrap !important;
  }

  .support_contents_wrapper {
    width: 100% !important;
    max-width: 1280px !important;
    margin: 0 auto !important;
    padding: 0 10px !important;
  }

  .support_card {
    display: flex !important;
    width: 412px !important;
    height: 324px !important;
    padding: var(--unit-6, 20px) !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
    flex-shrink: 0 !important;
  }

  .banner {
    max-width: 100%;
    height: 700px;
  }

  .banner_content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .banner_title {
    font-size: var(--font-display-1-size);
    line-height: 140%;
  }

  .banner_subtitle {
    font-size: var(--font-title-2-size);
    line-height: var(--font-title-2-height);
  }
}

/* FHD 이상 */
@media (min-width: 1920px) {
  .banner {
    max-width: 100%;
    height: 700px;
  }

  .banner_title {
    font-size: var(--font-display-1-size);
    line-height: 140%;
  }

  .banner_subtitle {
    font-size: var(--font-title-2-size);
    line-height: var(--font-title-2-height);
  }
}

.programs_section {
  display: flex;
  padding: var(--unit-14, 120px) 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--unit-8, 32px);
  align-self: stretch;
}

.programs_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-8, 32px);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.programs_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-3, 8px);
}

.programs_subtitle {
  color: var(--Blue-500, #0051ff);
  /* Body 1/Normal */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  margin: 0;
  text-align: center;
}

.programs_title {
  color: var(--Grayscale-900, #010101);
  /* Headline 2 */
  font-family: Pretendard;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 43.2px */
  margin: 0;
  text-align: center;
}

.programs_cards {
  display: flex;
  gap: var(--unit-4, 12px);

  width: 100%;
  max-width: 1280px;
  justify-content: center;
  align-items: flex-start;
}

.program_card {
  display: flex;
  width: 306px;
  height: 306px;
  padding: var(--unit-7, 24px);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--Grayscale-200, #e4e4e4);
  background: var(--white, #fff);
  box-sizing: border-box;
}

.program_card_top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.program_card_icon {
  width: 52px;
  height: 52px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.program_card_icon svg {
  width: 100%;
  height: 100%;
}

.program_card_title {
  color: var(--Grayscale-900, #010101);
  /* Headline 3 */
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 33.6px */
  margin-bottom: 8px;
}

.program_card_description {
  color: var(--Grayscale-600, #656565);
  /* Body 2/Reading */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  margin: 0;
  padding-bottom: var(--unit-7, 24px);
}

.program_card_info {
  display: flex;
  padding: var(--unit-5, 16px) var(--unit-4, 12px) var(--unit-4, 12px)
    var(--unit-4, 12px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-4, 12px);
  align-self: stretch;
  border-top: 1px solid var(--Grayscale-200, #e4e4e4);
}

.program_card_info_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.program_card_info_label {
  color: var(--Grayscale-600, #656565);
  /* Body 2/Normal */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.program_card_info_value {
  color: var(--Grayscale-900, #010101);
  /* Body 2/Normal */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
  text-align: right;
}

.curriculum_section {
  display: flex;
  padding: var(--unit-14, 120px) 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--unit-8, 32px);
  align-self: stretch;
  background: var(--Grayscale-100, #f2f2f2);
}

.curriculum_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--unit-8, 32px);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.curriculum_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--unit-3, 8px);
}

.curriculum_subtitle {
  color: var(--Blue-500, #0051ff);
  /* Body 1/Normal */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  margin: 0;
  text-align: left;
}

.curriculum_title {
  color: var(--Grayscale-900, #010101);
  /* Headline 2 */
  font-family: Pretendard;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 43.2px */
  margin: 0;
  text-align: left;
}

.curriculum_cards {
  display: flex;
  gap: var(--unit-4, 12px);

  width: 100%;
  max-width: 1280px;
  justify-content: center;
  align-items: flex-start;
}

.curriculum_card {
  display: flex;
  width: 306px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--Grayscale-200, #e4e4e4);
  background: var(--white, #fff);
}

.curriculum_card_image {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  flex-shrink: 0;
}

.curriculum_card_image_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.curriculum_card_top {
  display: flex;
  padding: var(--unit-6, 20px) var(--unit-7, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-5, 16px);
  align-self: stretch;
}

.curriculum_card_title_wrapper {
  display: flex;
  align-items: center;
  gap: var(--unit-3, 8px);
  width: 100%;
}

.curriculum_card_title {
  color: var(--Grayscale-900, #010101);
  /* Title 2 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  margin: 0;
}

.curriculum_card_week_icon {
  fill: var(--Grayscale-500, #919191);
  stroke-width: 1px;
  stroke: var(--Grayscale-500, #919191);
  width: 1px;
  height: 19.5px;
}

.curriculum_card_week {
  color: var(--Grayscale-700, #3d3d3d);

  /* Title 3 */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}

.curriculum_card_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-4, 12px);
  margin: 0;
  padding: var(--unit-5, 16px) var(--unit-4, 12px) var(--unit-4, 12px)
    var(--unit-4, 12px);
  padding-top: var(--unit-5, 16px);
  list-style: none;
  width: 100%;
  border-top: 1px solid var(--Grayscale-200, #e4e4e4);
}

.curriculum_card_list_item {
  color: var(--Grayscale-500, #919191);

  /* Title 3 */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}

/* Features Section */
.features_section {
  display: flex;
  padding: var(--unit-14, 120px) 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--unit-8, 32px);
  align-self: stretch;
  background: var(--white, #fff);
}

.features_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--unit-8, 32px);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.features_text_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-3, 8px);
  align-self: stretch;
}

.features_subtitle {
  color: var(--Blue-500, #0051ff);
  /* Body 1/Normal */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  margin: 0;
}

.features_title {
  color: var(--Grayscale-900, #010101);
  /* Headline 2 */
  font-family: Pretendard;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 43.2px */
  margin: 0;
}

.features_cards_wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  gap: var(--unit-4, 12px);
  align-self: stretch;
  justify-content: center;
}

.feature_card {
  display: flex;
  max-width: 306px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: var(--unit-4, 12px);
}

.feature_card_image {
  display: flex;
  width: 306px;
  height: 306px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--unit-7, 24px);
  border-radius: 10px;
  border: 1px solid var(--Grayscale-200, #e4e4e4);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.feature_card_image_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature_card_title {
  color: var(--Grayscale-900, #010101);
  text-align: center;
  /* Title 1 */
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 33.6px */
  margin: 0;
}

.feature_card_subtitle {
  color: var(--Grayscale-600, #656565);
  text-align: center;
  /* Body 2/Reading */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  margin: 0;
}

/* Support Section */
.support_section {
  display: flex;
  padding: var(--unit-14, 120px) 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--unit-8, 32px);
  align-self: stretch;
}

.support_contents_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  align-self: stretch;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.support_subtitle {
  color: var(--Blue-500, #0051ff);
  /* Body 1/Normal */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  margin-bottom: var(--unit-3, 8px);
}

.support_title {
  color: var(--Grayscale-900, #010101);
  /* Headline 2 */
  font-family: Pretendard;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 43.2px */
  margin-bottom: 32px;
}

.support_cards_wrapper {
  display: flex;
  align-items: stretch;
  align-content: center;
  gap: var(--unit-4, 12px);
  align-self: stretch;
  flex-wrap: wrap;
}

.support_card {
  display: flex;
  padding: var(--unit-6, 20px);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  min-height: 320px;
  border-radius: 10px;
  border: 1px solid var(--Grayscale-200, #e4e4e4);
  background: var(--white, #fff);
}

.support_card_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  align-self: stretch;
}

.support_card_bottom {
  display: flex;
  padding: var(--unit-5, 16px) var(--unit-4, 12px) var(--unit-4, 12px)
    var(--unit-4, 12px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-4, 12px);
  align-self: stretch;
  border-top: 1px solid var(--Grayscale-200, #e4e4e4);
}

.support_card_title {
  color: var(--Grayscale-900, #010101);

  /* Headline 3 */
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 33.6px */
  margin-bottom: 8px;
}

.support_card_description {
  color: var(--Grayscale-700, #3d3d3d);

  /* Title 3 */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}

.support_card_description br {
  display: none;
}

.support_card_bottom p {
  color: var(--Grayscale-900, #010101);
  /* Body 2/Normal */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  margin: 0;
}

.support_card_icon {
  width: 52px;
  height: 52px;
  aspect-ratio: 1/1;
  margin-bottom: 16px;
}

.support_card_bottom_item {
  color: var(--Grayscale-700, #3d3d3d);

  /* Title 3 */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}

/* CTA Section */
.cta_section {
  display: flex;
  padding: var(--unit-14, 120px) 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--unit-8, 32px);
  align-self: stretch;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("/images/ented/ented_footer_banner.jpg") lightgray 50% / cover no-repeat;
  position: relative;
}

.cta_text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--unit-3, 8px);
}

.cta_title {
  color: var(--white, #fff);
  /* Headline 2 */
  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 43.2px */
  margin: 0;
  text-align: center;
}

.cta_description {
  color: var(--Grayscale-100, #f2f2f2);
  text-align: center;
  /* Body 1/Reading */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  margin: 0;
}

.cta_button {
  display: flex;
  padding: var(--unit-7, 24px) var(--unit-9, 40px);
  justify-content: center;
  align-items: center;
  gap: var(--unit-3, 8px);
  border-radius: 45.5px;
  background: var(--Blue-300, #4c85ff);
  color: #ffffff;
  border: none;
  font-family: Pretendard;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.2s;
  box-sizing: border-box;
}

.cta_button:hover {
  background: var(--Blue-400, #2469ff);
}

.cta_button_arrow {
  width: 36px;
  height: 36px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}
