.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 0;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.heroContent {
  position: relative;
  z-index: 1;
  max-width: 1520px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.heroTitle {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}

@media (max-width: 64rem) {
  .heroTitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 48rem) {
  .heroTitle {
    font-size: 2rem;
  }
}

.stageSection {
  width: 100%;
  
}

