.main {
  min-height: 100vh;
  padding-top: 0;
  background-color: #ffffff;
  position: relative;
}

.banner {
  display: flex;
  height: 700px;
  padding: 306px var(--unit-5, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0;
}

.banner_image_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("/images/notice/notice_banner.jpg") lightgray 50% / cover no-repeat;
}

.banner_image {
  object-fit: cover;
}

.banner_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(2px);
  z-index: 2;
}

.banner_content {
  position: relative;
  z-index: 3;
  display: flex;
  width: 100%;
  max-width: 1260px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-3, 8px);
  height: 100%;
  justify-content: center;
  margin: 0 auto;

  box-sizing: border-box;
}

.banner_title {
  color: var(--white, #fff);
  font-family: Pretendard, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin: 0;
  text-align: left;
}

.banner_subtitle {
  color: #fafafa;
  font-family: Pretendard, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
  text-align: left;
}

/* 모바일 및 태블릿 */
@media (min-width: 375px) and (max-width: 1023px) {
  .banner {
    display: flex !important;
    height: 700px !important;
    padding: 306px var(--unit-5, 16px) !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
    align-self: stretch !important;
  }

  .banner_image_wrapper {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.7) 100%
      ),
      url("/images/notice/notice_banner.jpg") lightgray 50% / cover no-repeat !important;
  }

  .banner_content {
    padding: 0 !important;
  }

  .banner_title {
    color: var(--white, #fff) !important;
    font-family: Pretendard !important;
    font-size: 42px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 120% !important;
  }

  .banner_subtitle {
    color: var(--Grayscale-50, #fafafa) !important;
    font-family: Pretendard !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 120% !important;
  }

  .content_section {
    display: flex !important;
    padding: var(--unit-13, 96px) var(--unit-5, 16px) !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: var(--unit-8, 32px) !important;
    align-self: stretch !important;
  }

  .content_title {
    font-size: 28px !important;
  }

  .content_subtitle {
    font-size: 16px !important;
  }

  .notice_item_title {
    font-size: 16px !important;
  }
  .notice_item_description {
    font-size: 16px !important;
  }

  .cta_section {
    display: flex !important;
    padding: var(--unit-14, 120px) var(--unit-5, 16px) !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: var(--unit-10, 48px) !important;
    align-self: stretch !important;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("/images/notice/notice_footer_banner.jpg") lightgray 50% / cover
        no-repeat !important;
  }

  .cta_title {
    color: var(--white, #fff) !important;
    font-family: Pretendard !important;
    font-size: 28px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 120% !important;
  }

  .cta_description {
    color: var(--Grayscale-100, #f2f2f2) !important;
    text-align: center !important;
    font-family: Pretendard !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 140% !important;
  }

  .cta_button {
    font-size: 18px !important;
    display: flex !important;
    padding: var(--unit-4, 12px) var(--unit-6, 20px) !important;
    justify-content: center !important;
    align-items: center !important;
    gap: var(--unit-2, 4px) !important;
    border-radius: 26.5px !important;
    background: var(--Blue-300, #4c85ff) !important;
    width: fit-content !important;
    min-width: auto !important;
    max-width: 100% !important;
  }

  .cta_button_arrow {
    width: 24px !important;
    height: 24px !important;
    aspect-ratio: 1/1 !important;
  }

  .cta_description br {
    display: block !important;
  }
}

/* 태블릿 (가로) */
@media (min-width: 1024px) and (max-width: 1279px) {
  .banner {
    display: flex;
    height: 700px;
    padding: 306px 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }

  .banner_image_wrapper {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.7) 100%
      ),
      url("/images/notice/notice_banner.jpg") lightgray 50% / cover no-repeat;
  }

  .content_section {
    display: flex !important;
    padding: var(--unit-14, 120px) 80px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: var(--unit-8, 32px) !important;
    align-self: stretch !important;
  }

  .cta_section {
    display: flex !important;
    padding: var(--unit-14, 120px) 10px !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: var(--unit-10, 48px) !important;
    align-self: stretch !important;
  }

  .cta_description br {
    display: none !important;
  }
}

/* 일반 데스크탑 */
@media (min-width: 1280px) {
  .banner {
    max-width: 100%;
    height: 700px;
  }

  .banner_content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .banner_title {
    font-size: var(--font-display-1-size);
    line-height: 140%;
  }

  .banner_subtitle {
    font-size: var(--font-title-2-size);
    line-height: var(--font-title-2-height);
  }
}

/* FHD 이상 */
@media (min-width: 1920px) {
  .banner {
    max-width: 100%;
    height: 700px;
  }

  .banner_content {
    padding-top: var(--unit-13, 96px);
  }

  .banner_title {
    font-size: var(--font-display-1-size);
    line-height: 140%;
  }

  .banner_subtitle {
    font-size: var(--font-title-2-size);
    line-height: var(--font-title-2-height);
  }

  .content_section {
    padding: var(--unit-14, 120px)
      clamp(10px, calc(10px + (100vw - 1280px) * 0.5), 330px);
  }

  .content_wrapper {
    max-width: 1280px;
  }
}

.content_section {
  display: flex;
  padding: var(--unit-14, 120px) 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--white, #fff);
  width: 100%;
  box-sizing: border-box;
}

.content_wrapper {
  display: flex;
  width: 100%;
  max-width: 1280px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-8, 32px);
  margin: 0 auto;
  box-sizing: border-box;
}

.content_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-3, 8px);
  align-self: stretch;
}

.content_subtitle {
  color: var(--Blue-500, #0051ff);
  /* Body 1/Normal */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  margin: 0;
}

.content_title {
  color: var(--Grayscale-900, #010101);
  /* Headline 2 */
  font-family: Pretendard;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 43.2px */
  margin: 0;
}

.notice_section {
  display: flex;
  padding: var(--unit-8, 32px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-3, 8px);
  align-self: stretch;
  border-radius: 10px;
  background: var(--Grayscale-50, #fafafa);
}

.notice_section_title {
  color: var(--Grayscale-900, #010101);
  /* Title 2 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  margin: 0;
}

.notice_warning {
  display: flex;
  align-items: center;
  gap: var(--unit-2, 4px);
  color: var(--Grayscale-900, #010101);
  /* Title 2 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  margin: 0;
  margin-bottom: var(--unit-8, 32px);
}

.notice_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-8, 32px);
  align-self: stretch;
}

.notice_item {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.notice_item_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--unit-3, 8px);
  flex: 1 0 0;
}

.notice_item_number {
  display: inline;
  color: var(--Grayscale-900, #010101);
  /* Body 1/Normal */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  margin-right: var(--unit-2, 4px);
}

.notice_item_title {
  color: var(--Grayscale-900, #010101);
  /* Body 1/Normal */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  margin: 0;
}

.notice_item_description {
  display: flex;
  align-items: flex-start;
  gap: var(--unit-2, 4px);
  color: var(--Blue-600, #0049e5);
  /* Body 1/Normal */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  margin: 0;
}

.arrow_blue {
  color: var(--Blue-600, #0049e5);
  font-size: 18px;
  font-weight: 400;
  flex-shrink: 0;
}

.cta_section {
  display: flex;
  padding: var(--unit-14, 120px) 10px;
  flex-direction: column;
  align-items: center;
  gap: var(--unit-10, 48px);
  align-self: stretch;
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("/images/notice/notice_footer_banner.jpg") lightgray 50% / cover
      no-repeat;
}

.cta_text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.cta_title {
  color: var(--white, #fff);
  /* Headline 2 */
  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  text-align: center;
}

.cta_description {
  color: var(--Grayscale-100, #f2f2f2);
  text-align: center;
  /* Body 1/Reading */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  margin: 0;
}

.cta_button {
  display: flex;
  width: 390px;
  padding: var(--unit-7, 24px) var(--unit-9, 40px);
  justify-content: center;
  align-items: center;
  gap: var(--unit-3, 8px);
  border-radius: 45.5px;
  background: var(--Blue-300, #4c85ff);
  color: #ffffff;
  border: none;
  font-family: Pretendard;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.2s;
  box-sizing: border-box;
}

.cta_button:hover {
  background: var(--Blue-400, #2469ff);
}

.cta_button_arrow {
  width: 36px;
  height: 36px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

/* 일반 데스크탑 */
@media (min-width: 1280px) {
  .content_section {
    padding: var(--unit-14, 120px) 10px;
  }

  .content_wrapper {
    max-width: 1280px;
    padding: 0 10px;
  }
}
